<h1>List of the tasks : </h1>

<ul>
<% @tasks.each do |task| %>
  <li>
  <% if task.completed %>
  [x]
  <% else %>
  [ ]
  <% end %>
  <%= link_to task.title, task_path(task.id) %>
  <%= link_to "delete", delete_path(task.id), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></li>
<% end %>
</ul>

<%= link_to "Add a new task", new_path %>
